<!DOCTYPE html>
<html>
{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!--************************** HEAD -->
{% include head.html %}
<!--************************** HEAD -->
<body>

	<!--************************** CONTAINER -->
    <div class="container">
		<!--************************** HEADER -->
		{% include header.html %}
		<!--************************** HEADER -->
		
        <!--************************** MIDDLE -->
        <section class="middle row">
            <!--************************** CONTENT -->
            <div class="span8 content">
				
			{{ content | expand_urls: root_url }}
			
            	
        	</div>
        	<!--************************** CONTENT -->
			
		<!--************************** SIDEBAR -->
		{% include sidebar.html %}
		<!--************************** SIDEBAR -->
		
			
        </section>
        <!--************************** MIDDLE -->

  
	</div>
  	<!--************************** CONTAINER -->
 	<!--************************** FOOTER -->
  	{% include footer.html %}
  	<!--************************** FOOTER -->
	<!--************************** AFTER FOOTER -->
	{% include after_footer.html %}
	<!--************************** AFTER FOOTER -->
</body>
</html>
