<footer role="contentinfo" class="footer">
	<div class="container">
    	<div class="row">
			<!--widget-->
            <div class="span4 widget text-widget">
            	<h3><b>ABOUT me</b></h3>
                <p><img class="logo" alt="logo" src="img/logo.png"> We are a highly creative design agency based in Istanbul. We create beatiful and clean web templates. We love our work.</p>
                    
                <ul class="social">
                	<!--<li><a class="facebook" href="#">Facebook</a></li>-->
                    <!--<li><a class="twitter" href="#">Twitter</a></li>-->
					<!--<li><a class="flickr" href="#">Flickr</a></li>-->
                  	<!--<li><a class="dribble" href="#">Dribble</a></li>-->
              	  	<!--<li><a class="lastfm" href="#">Last Fm</a></li>-->
                  	<!--<li><a class="linkedin" href="#">Linked In</a></li>-->
                  	<li><a class="google" href="#">Google Plus</a></li>
				  	<li><a class="vimeo" href="#">Vimeo</a></li>
				  	<li><a class="rss" href="#">RSS</a></li>
              	</ul>
      	  	</div>
            <!--widget-->
                 
            <!--widget - weibo-->
            <div class="span4 widget">
            	<h3><b>WEIBO</b></h3>
                    
                <div id="weibo-list">  
				</div>
					  
            </div>
            <!--widget-->
                 
            <!--widget - text-->
            <div class="span4 widget">
            	<h3><b>WHO I AM ?</b></h3>
                <p>Here are two examples of how the:</p>
                <address>
                	<strong>Responsy, Inc.</strong><br>
                   	795 Folsom Ave, Suite 700<br>
                   	San Francisco, CA 94107<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
               	</address>
                <address>
                	<strong>Full Name</strong><br>
                    Responsy HTML5
                </address>
           	</div>
            <!--widget-->
			    
		</div>
		<!--row-->
            
        <!--row-->
        <div class="row">
        	<!-- copyright text -->
          	<div class="span12 copy-text">
              	<p>&copy;2012 All Rights Reserved by {{ site.author }}</p>
            </div>
            <!-- copyright text -->
       	</div>
        <!--row-->
            
	</div>
	<!--contaner-->	
</footer>