<footer role="contentinfo" class="footer">
	<div class="container">
    	<div class="row">
			<!--widget-->
            <div class="span4 widget text-widget">
            	<h3><b>ABOUT RUFUS</b></h3>
                <p><img class="logo" alt="logo" src="{{ site.url }}/img/logo.png">Coming Soon</p>
				<!-- SOCIAL LINKS -->
				{% include social_link.html %}
				<!-- SOCIAL LINKS -->
      	  	</div>
            <!--widget-->
                 
            <!--widget - weibo-->
            <div class="span4 widget">
            	<h3><b>SINA WEIBO</b></h3>
                <p>Coming Soon</p>					  
            </div>
            <!--widget-->
                 
            <!--widget - text-->
            <div class="span4 widget">
            	<h3><b>SUPPORT RUFUS</b></h3>
                <p>Coming Soon</p>
           	</div>
            <!--widget-->
			    
		</div>
		<!--row-->
            
        <!--row-->
        <div class="row">
        	<!-- copyright text -->
          	<div class="span12 copy-text">
              	<p>&copy;2012 All Rights Reserved by {{ site.author }}</p>
            </div>
            <!-- copyright text -->
       	</div>
        <!--row-->
            
	</div>
	<!--contaner-->	
</footer>