---
layout: default
---

<!-- PAGE HEADER -->
<div class="page-header">
    <h1><b>BLOG</b><small>what I think...</small></h1>
</div>
<!-- PAGE HEADER -->

<!-- POST-LIST -->
<div class="post-list">
	{% for post in paginator.posts %}
		{% include post/variables.html %}
	   	{% include article_index.html %}
	{% endfor %}
</div>
<!-- POST-LIST -->

<!-- PAGINATION -->
<div class="pagination-wrap">
	<ul class="pagination left">
  		{% if paginator.next_page %}
      		<li><a rel="prev" class="prev" href="{{paginator.next_page}}">&larr; Older</a></li>
      	{% endif %}
  	</ul>
	
	<ul class="pagination right">
      	{% if paginator.previous_page %}
      		<li><a rel="next" class="next" href="{{paginator.previous_page}}">Newer &rarr;</a></li>
      	{% endif %}
  	</ul>
</div>
<!-- PAGINATION -->