<!-- WIDGET - FEATURED POSTS -->
<div class="featured-posts widget row clearfix">
    <h3>FEATURED POSTS</h3>
	{% for post in site.posts %}
		{% if post.featured %}
		<!--item-->
    		<div class="item">
    			<a rel="bookmark" href="{{ site.url }}{{ post.url }}" class="image-box"><img src="{{ site.url }}/img/cover/{{ post.cover }}" alt="blog-post"></a>
        		<div class="info">
        			<h4><a rel="bookmark" href="{{ site.url }}{{ post.url }}">{{  post.title }}</a></h4>
        			<p>{{ post.description }}</p>
        		</div>
    		</div>
		<!--item-->
		{% endif %}
	{% endfor %}                
</div>
<!-- WIDGET - FEATURED POSTS -->